NET "src<0>" LOC = P132 | IOSTANDARD = LVTTL | PULLDOWN;
NET "src<1>" LOC = P127 | IOSTANDARD = LVTTL | PULLDOWN;
NET "src<2>" LOC = P124 | IOSTANDARD = LVTTL | PULLDOWN;
NET "sum" LOC = P51 | IOSTANDARD = LVTTL | PULLDOWN;
NET "carry" LOC = P41 | IOSTANDARD = LVTTL | PULLDOWN;
NET "center" LOC = P140 | IOSTANDARD = LVTTL | PULLDOWN;

NET "io_led<0>" LOC = P97 | IOSTANDARD = LVTTL;
NET "io_led<1>" LOC = P98 | IOSTANDARD = LVTTL;
NET "io_led<2>" LOC = P94 | IOSTANDARD = LVTTL;
NET "io_led<3>" LOC = P95 | IOSTANDARD = LVTTL;
NET "io_led<4>" LOC = P92 | IOSTANDARD = LVTTL;
NET "io_led<5>" LOC = P93 | IOSTANDARD = LVTTL;
NET "io_led<6>" LOC = P87 | IOSTANDARD = LVTTL;
NET "io_led<7>" LOC = P88 | IOSTANDARD = LVTTL;